body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;

}

.title-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

h3 {
    color: white;
    font-size: 26px;
}

text {
    color: white;
    font-size: 16px;
    
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.grid-container {
    display: flex;
    flex-direction: column;
    border: solid 5px;
    border-color: rgb(155, 155, 155);
    width: 700px;
    height: 700px;
    
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: fit-content;
}

.playgame-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 10px;
    border-color: rgb(0, 0, 0);
    width: 400px;
    height: 400px;
    font-size: 7px;
    border: solid;
    border-color: rgb(155, 155, 155);
}

.outterDivs2 {
    display: flex;
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
}

.innerDiv2 {
    border: solid 1px;
    border-color: rgb(155, 155, 155);
    height: 100%;
    width: 100%;
}


.outterDivs {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 100%;
    width: 100%;

}

.innerDiv {
    border: solid 1px;
    border-color: rgb(155, 155, 155);
    height: 100%;
    width: 100%;
}


.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-button {
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: black;
    border: none;
    padding: 10px 20px;
    width: 200px;
    height: 80px;
    border: solid;
}

.play-submit {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-color: white;
    height: 120px;
    width: 200px;
    background-color: white;
}

#game, #submit {
    margin: 0;
}

.grid-button:hover {
    background-color: white;
    color: black;
    border-color: black;
}

@keyframes example {
    0% {background-color: red;}
    12% {background-color: rgb(255, 174, 0);}
    25% {background-color: yellow;}
    50% {background-color: green;}
    75% {background-color: blue;}
    87% {background-color: rgb(81, 0, 128);}
    90% {background-color: rgb(128, 0, 53);}
    100% {background-color: rgb(255, 0, 0);}
  }

#random-color-button[value="on"] {
    animation-name: example;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    color: black;
    border-color: black;
}
